/.idea/
/__pycache__/
/build/
/dist/
/venv/
/_common_vocab.db
/collection.anki2
/collection.anki2.backup
/collection.anki2.gui
/collection.anki2-shm
/collection.anki2-wal
/GUIkanji.exe
/GUIkanji.spec
/GUIsearch.exe
/GUIsearch.spec
/icon.ico
/OUTPUT-CleanList.txt
/OUTPUT-KanjiList.txt
/OUTPUT-MissingKanjiList.txt
/Pipfile
